.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  vertical-align: center;
  padding: 13px 0;
  font-size: 3.5em;
  line-height: 2.00;
  border-radius: 70px;
}

.vertical-center {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}
